:root {
  /* テーマカラーを設定してください　。 */
  --theme-color: #335594;
}

.info-title {
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 0;
  margin-bottom: 5rem;
  border-bottom: 3px solid var(--theme-color);
  font-family: serif;
  font-weight: bold;
}

.info-subtitle {
  text-align: center;
  font-weight: normal;
}

.info-caption {
  text-align: center;
  font-weight: normal;
  color: #666;
}

.pages-title {
  margin-top: 10px;
  display: inline-block;
  padding: 0.5rem 3rem 0.5rem 0;
  margin-bottom: 5rem;
  border-bottom: 3px solid #fff;
  font-family: serif;
  font-weight: bold;
  color: #fff;
}

.arrow-rotate:active {
  transform: rotate(180deg);
}

.text-truncate-clamp-1 {
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-clamp-3 {
  display: -webkit-box !important;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.pages-xs {
  font-size: 20px;
}

.pages-else {
  font-size: 30px;
}

.pages-else:hover {
  transform: scale(1.1, 1.1);
}

.pages-text {
  text-align: center;
  font-family: serif;
  font-weight: bold;
}

.status-code {
  text-align: center;
  font-family: serif;
  font-size: 1500%;
  color: var(--theme-color);
  height: 60%;
}

.status-code-xs {
  text-align: center;
  font-family: serif;
  font-size: 1000%;
  color: var(--theme-color);
  height: 60%;
}

.error-message {
  text-align: center;
  font-size: 300%;
  color: var(--theme-color);
}

.error-message-xs {
  text-align: center;
  font-size: 200%;
  color: var(--theme-color);
}

.chochin {
  animation: flap ease 2s infinite;
  width: 60px;
  height: 60px;
  margin-top: auto;
}

.questions-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.questions-mark {
  font-weight: bold;
  color: var(--theme-color);
}

.fade-in {
  animation-name: fade-in-name;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.attention {
  color: var(--theme-color);
  font-weight: bold;
  text-decoration: underline;
}

.sta-nagata {
  margin-bottom: 0;
}

.sta-nagata-indent {
  margin-left: 5.5rem;
}

.sta-mitsuke {
  margin-bottom: 0;
}

.sta-mitsuke-indent {
  margin-left: 6.5rem;
}

.sta-gijido {
  margin-bottom: 0;
}

.sta-gijido-indent {
  margin-left: 8.5rem;
  margin-bottom: 0;
}

.group-card-xs-else:hover {
  transform: scale(1.08, 1.08);
}

a.link-snackbar {
  color: white !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  text-decoration-color: white !important;
}

@keyframes fade-in-name {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
